## keywords: 
    - Any word/token that has predefined meaning 
    - Examples: print(), input(), min, max, for, while, if, else, ord(), str, int, float etc.
## identifiers: 
    - temporary variables defined by users for storing values, not identified by program automatically
    - must be initialised before using

In [ ]:
print(), min, max, for, while

In [ ]:
val = 2.0

## Data types

In [1]:
int_ = 5
float_ = 3.0
string_ = 'mystring'
complex_ = 2+3j

In [2]:
print(type(int_))
print(type(float_))
print(type(string_))
print(type(complex_))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [3]:
int_ = 'mystring'
float_ = 3.0
string_ = 5
complex_ = 2+3j

In [4]:
print(type(int_))
print(type(float_))
print(type(string_))
print(type(complex_))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'complex'>

In [5]:
int_ = 3
int_1 = 423528652863984673849673406730476384 ## there is no restriction on storing values as well as the local system supports

In [6]:
# displaying both values and types of each variable
print(int_,type(int_))
print(float_, type(float_))
print(string_, type(string_))
print(complex_, type(complex_))

3 <class 'int'>
3.0 <class 'float'>
5 <class 'int'>
(2+3j) <class 'complex'>

In [7]:
###
var1 = 2
var2 = 2
temp = var1 + var2
print(temp)
# 
print(var1+var2)

4
4

In [8]:
### 
str1 = '' # blank string
str2 = ""
str3 = """"""
str4 = ''''''
print(type(str1))
print(type(str2))
print(type(str3))
print(type(str4))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [9]:
### 
str1 = 'mystring' # non blank string
str2 = "mystring"
str3 = """mystring"""
str4 = '''mystring'''
print(type(str1))
print(type(str2))
print(type(str3))
print(type(str4))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
She is going home.
And, will come tomorrow.

In [11]:
### 
# str1 = 'She's going home.'  ### without special charcters
str2 = "She's going home."   
str3 = """She's going home."""
str4 = '''She's going home.'''
print(str1)
print(str2)
print(str3)
print(str4)

mystring
She's going home.
She's going home.
She's going home.

In [13]:
### 
# str1 = 'She's going home.'  ### without special charcters
# str2 = "She is going home.  ### does not support multi-lines string
# And, will come tomorrow."   
str3 = """She is going home.
And, will come tomorrow."""
str4 = '''She is going home.
And, will come tomorrow.'''
# print(str1)
# print(str2)
print(str3)
print(str4)

She is going home.
And, will come tomorrow.
She is going home.
And, will come tomorrow.

In [17]:
###
str1 = 'mystring'
str1[0]  ## access through indexing/passing position within square bracket

'm'

In [18]:
print(str1[2])
print(str1[3])
print(str1[0:2])  # [start:end]

s
t
my

In [21]:
### in above string, replace 's' with 'a'
# str1[2] = 'a'  # will give an error due to immutable property

In [20]:
str1 = 'mydummystr'

In [26]:
str1 = 'hello'
str2 = 'world'
int_3 = 5
print(str1 + str2) ## string concatenation
print(str1 + str(int_3 ))
print(str1*2)  # repetition by 2 times

helloworld
hello5
hellohello

In [29]:
# replace 's' with 'a'
str1 = 'mystring'

mynewstr = str1[0:2]+'a'+str1[3:]  ## [start:end] => end default value is end of the string
print(mynewstr)                                     # => start default value is 0

myatring

In [32]:
print(str1[7])
print(str1[-1]) # negative indexing

g
g

In [37]:
### inbuilt methods supported by string object type
str1 = 'mystring123.'

In [38]:
str1.isalnum()

False

In [39]:
str1.capitalize()

'Mystring123.'

In [40]:
### booleans: True, False
# True False
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## operators and their precedences

### Arithmetic operators: +,-,/,//,'***','**',%

In [43]:
### Arithmetic operators: +,-,/,//,'**','*',%

print(3+2) # 5
print(3-2) # 1
print(3*2) # 6
print(3**2)# 9 
print(3/2) # 1.5
print(3//2) # 1
print(3//2.0) # 1.0
print(3%2) # 1

5
1
6
9
1.5
1
1.0
1

## comparison operators: ==,!=,>,>=,<,<= 
 - always return bool : True or False

In [44]:
a = 4
b = 10

print(a==b) # False
print(a!=b) # True
print(a>b)  # False
print(a>=b) # False
print(a<b)  # True
print(a<=b) # True

False
True
False
False
True
True

## Logical operators: AND, OR, NOT

AND:
           - 1 1 = 1
           - 1 0 = 0
           - 0 1 = 0
           - 0 0 = 0

OR: 
            - 1 1 = 1
            - 1 0 = 1
            - 0 1 = 1
            - 0 0 = 0

NOT:
             - 1 = 0
             - 0 = 1

In [46]:
print (not (True )) # False
print (not (False )) # True
print( not (True == False)) # True
print(  (not (3!=5) or (2>1)) or((4==4) and (4!=4)) ) # True
print(  (not (3!=5) and (2>1)) and((4==4) and (4!=4))  ) # False
print(   (7>4) and (4<0) or (4>2) and (4>5)) # False
print(   ((7>4) and (4<0)) or (4>2) and (4>5)) # False
print(   (7>4) and (((4<0) or (4>2)) and (4>5))) #False

False
True
True
True
False
False
False
False

In [47]:
# (  (not (3!=5) or (2>1)) or((4==4) and (4!=4)) )
# (  (not True or True) or(True and False) )
# (  (False or True) or(True and False) )
# (  (True) or (False) )
# (  True )

## Assignment Operorats
=,+=,*=,-=,/=,%=,//=

In [48]:
a = 10
# a = a + 5
print(a) # 10
a += 5  
print(a) # 15
a -= 10
print(a) # 5
a *= 2
print(a) # 10
a %=4
print(a) # 2
a /= 5
print(a) # 0.4

10
15
5
10
2
0.4

## identity operators: is, is not

In [49]:
3 is 4

False

In [50]:
3 is not 4

True

## membership operators: in, not in

In [53]:
print(5 in [3,4,5,6,7,9])
print(5 in [3,4,6,7,9])
print(5.0 in [3.0,4.0,5.0,6.0,7.0,9.0])

True
False
True

In [54]:
'bangalore' in ['bangalore','chennai','gujrat','mumbai']

True

In [55]:
'bangalore' not in ['bangalore','chennai','gujrat','mumbai']

False

In [56]:
##  inbuilts functions
input()

This is my input.

'This is my input.'

In [57]:
## read an integer using input()
input()

3

'3'

In [59]:
myint = input('Enter an integer:')
print(type(myint))

Enter an integer:4
<class 'str'>

In [61]:
## Read two integers from user and print summation of the two.
# read values from user
int1 = input('Enter an integer:')
int2 = input('Enter an integer:')
## summation
sum_ = int(int1) + int(int2)
# display
print('Summation = ',sum_)

Enter an integer:4
Enter an integer:5
Summation =  9