## dictionary
   - unordered, indexing
   - key:value pair
   - keys can be any immutable python data types
   - values can be any python data type
   - duplicate keys are not allowed

In [ ]:
# syntax
# {key1:val1,
# key2:val2,
# .......
# keyn:valn}

In [ ]:
## initializing blank dictionary
# d_ = {}
# dict()

In [2]:
dict_  = {'a':1,'b':list(range(1,11)),'c':'string',
'd':tuple(range(1,6,2))}
print(type(dict_))
print(dict_)

<class 'dict'>
{'a': 1, 'b': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'c': 'string', 'd': (1, 3, 5)}

In [6]:
print({'a':1,'a':1})
print({'a':1,'a':2})
print({'a':1,'b':1})

{'a': 1}
{'a': 2}
{'a': 1, 'b': 1}

In [9]:
### Accessing values
dict_  = {'a':1,'b':list(range(1,11)),'c':'string',
'd':tuple(range(1,6,2))}
dict_

{'a': 1, 'b': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'c': 'string', 'd': (1, 3, 5)}

In [8]:
dict_['c']

'string'

In [11]:
### fetch 5 of the tuple 
dict_['d'][-1]

5

In [12]:
### 

students ={'name':['A','B','C','D'],
           'age':[25,23,45,67],
           'rollno':(1,2,3,4),
           'address':{'city':['bangalore','chennai','mumbai','delhi'],
                      'state':['KA','TN','MH','DH'],
                      'pincode':[1,2,5,6]}}
students

{'name': ['A', 'B', 'C', 'D'],
 'age': [25, 23, 45, 67],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['bangalore', 'chennai', 'mumbai', 'delhi'],
  'state': ['KA', 'TN', 'MH', 'DH'],
  'pincode': [1, 2, 5, 6]}}

In [15]:
### access value 'chennai'
print(students['address'])
print(students['address']['city'])
print(students['address']['city'][1])

{'city': ['bangalore', 'chennai', 'mumbai', 'delhi'], 'state': ['KA', 'TN', 'MH', 'DH'], 'pincode': [1, 2, 5, 6]}
['bangalore', 'chennai', 'mumbai', 'delhi']
chennai

In [17]:
## fetch value '3' of the key rollno and change it to 5
students['rollno'][2] 
# students['rollno'][2] = 5 # not supported since val 3 is an element of the tuple

3

In [20]:
### Add new key value pair to the existing dictionary :
### key: school_name
### values: ['ABC','BCD','EFG','MHX']

students['school_name'] = ['ABC','BCD','EFG','MHX']
# print(students)
students

{'name': ['A', 'B', 'C', 'D'],
 'age': [25, 23, 45, 67],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['bangalore', 'chennai', 'mumbai', 'delhi'],
  'state': ['KA', 'TN', 'MH', 'DH'],
  'pincode': [1, 2, 5, 6]},
 'school_name': ['ABC', 'BCD', 'EFG', 'MHX']}

In [23]:
students['address'] = {'area':['a1','a2','a3'],
                        'city': ['bangalore', 'chennai', 'mumbai', 'delhi'],
                         'state': ['KA', 'TN', 'MH', 'DH'],
                           'pincode': [1, 2, 5, 6]}
students

{'name': ['A', 'B', 'C', 'D'],
 'age': [25, 23, 45, 67],
 'rollno': (1, 2, 3, 4),
 'address': {'area': ['a1', 'a2', 'a3'],
  'city': ['bangalore', 'chennai', 'mumbai', 'delhi'],
  'state': ['KA', 'TN', 'MH', 'DH'],
  'pincode': [1, 2, 5, 6]},
 'school_name': ['ABC', 'BCD', 'EFG', 'MHX']}

In [24]:
students['address']['area'][0] = 'a5'
students['address']

{'area': ['a5', 'a2', 'a3'],
 'city': ['bangalore', 'chennai', 'mumbai', 'delhi'],
 'state': ['KA', 'TN', 'MH', 'DH'],
 'pincode': [1, 2, 5, 6]}

In [27]:
[1,2,3,4]
['a','b','c','d']
d = {}
for v,k in zip([1,2,3,4],['a','b','c','d']):
    print(v,k)
    d[k] = v
d

1 a
2 b
3 c
4 d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [29]:
dict(zip(['a','b','c','d'],[1,2,3,4]))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
### loop through dictionary items
for k,v in students.items():
    print(k,v)

name ['A', 'B', 'C', 'D']
age [25, 23, 45, 67]
rollno (1, 2, 3, 4)
address {'area': ['a5', 'a2', 'a3'], 'city': ['bangalore', 'chennai', 'mumbai', 'delhi'], 'state': ['KA', 'TN', 'MH', 'DH'], 'pincode': [1, 2, 5, 6]}
school_name ['ABC', 'BCD', 'EFG', 'MHX']

In [31]:
# loop through only for values
for v in students.values():
    print(v)

['A', 'B', 'C', 'D']
[25, 23, 45, 67]
(1, 2, 3, 4)
{'area': ['a5', 'a2', 'a3'], 'city': ['bangalore', 'chennai', 'mumbai', 'delhi'], 'state': ['KA', 'TN', 'MH', 'DH'], 'pincode': [1, 2, 5, 6]}
['ABC', 'BCD', 'EFG', 'MHX']

In [32]:
# loop through only for keys
for k in students.keys():
    print(k)

name
age
rollno
address
school_name

## sets
  - unordered
  - unindexed
  - duplicate members are not allowed

In [34]:
l1 = list(range(1,20))
print(type(l1))

<class 'list'>

In [37]:
print(set(l1))
print(type(set(l1)))

s1 = set(l1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
<class 'set'>

In [42]:
s1 = set(range(1,21))
s2 = set(range(15,31))
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30}

In [43]:
## difference
s3 = s1.difference(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [44]:
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [45]:
## difference_update
s1.difference_update(s2)

In [46]:
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [47]:
s1 = set(range(1,21))
s2 = set(range(15,31))
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30}

In [48]:
s1.intersection(s2)

{15, 16, 17, 18, 19, 20}

In [52]:
s1.union(s2)

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30}

In [55]:
## can duplicate values be allowed?
s = {1,1,1,2,3,4}

In [54]:
type({})

dict

In [57]:
print(s.pop())

1

In [63]:
s = {'a','b','c','d'}
result = s.intersection(set(['a','d','e']))
print(tuple(result))
print(list(result))

('a', 'd')
['a', 'd']

## list comprehension/generator

In [ ]:
### syntax 
# [<output expression> for <variable> in <iterables> (<condition>)]

In [64]:
### WAP to generate list of integers 1 to 10.
list_ = []
for e in range(1,11):
    list_.append(e)
print(list_)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
[e for e in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
square_list = [e**2 for e in range(1,11)]

In [69]:
## WAP to generate a list of squares of even integers: 1 to 20

sq_list_ = []
for e in range(1,21):
    if e%2==0:
        sq_list_.append(e**2)
sq_list_

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [70]:
[e**2 for e in range(1,21) if e%2==0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [71]:
for e in range(1,21):
    if e%2==0:
           print(e,e**2)

2 4
4 16
6 36
8 64
10 100
12 144
14 196
16 256
18 324
20 400

In [87]:
range(1,21)

range(1, 21)

In [74]:
# [e**2,e for e in range(1,21) if e%2==0]

In [72]:
# returning multiple values
[(e**2,e) for e in range(1,21) if e%2==0]

[(4, 2),
 (16, 4),
 (36, 6),
 (64, 8),
 (100, 10),
 (144, 12),
 (196, 14),
 (256, 16),
 (324, 18),
 (400, 20)]

In [75]:
# returning multiple values
[[e**2,e] for e in range(1,21) if e%2==0]

[[4, 2],
 [16, 4],
 [36, 6],
 [64, 8],
 [100, 10],
 [144, 12],
 [196, 14],
 [256, 16],
 [324, 18],
 [400, 20]]

In [77]:
# transform below code as list comprehension
for i in range(1,4):
    for j in range(2,4):
        if j%2==0:
            print(i*j)

2
4
6

In [79]:
[i*j for i in range(1,4) for j in range(2,4) if j%2==0]

[2, 4, 6]

In [80]:
### list generator
### syntax 
# (<output expression> for <variable> in <iterables> (<condition>))

In [81]:
(i*j for i in range(1,4) for j in range(2,4) if j%2==0)

In [82]:
list((i*j for i in range(1,4) for j in range(2,4) if j%2==0))

[2, 4, 6]

In [84]:
for i in (i*j for i in range(1,4) for j in range(2,4) if j%2==0):
    print(i)

2
4
6

In [85]:
l = (i*j for i in range(1,4) for j in range(2,4) if j%2==0)
l

In [86]:
for i in l:
    print(i)

2
4
6

### using if-else in list comprehension

In [ ]:
list_ = []
for i in range(1,20):
    if i%2==0:
        list_.append(i**2)
    else:
        list_.append(i)

In [88]:
[(i**2 if i%2==0 else i ) for i in range(1,20)]

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100, 11, 144, 13, 196, 15, 256, 17, 324, 19]

In [90]:
even, odd = [],[]
for i in range(1,21):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [93]:
[(i if i%2==0 else i) for i in range(1,21)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]